<div class="">
  <div class="bg-white mt-10 p-5 mx-40 rounded-2xl">
    <div class="flex flex-row">
      <div class="flex flex-col">
        <img src="assets/images/me.jpg" alt="Pontep" class="max-w-sm mx-auto rounded-2xl">
        <div class="divide-y-4 divide-green-500 divide-solid">
          <div class="">
            <h2 class="text-xl text-gray-800">About Me</h2>
          </div>
          <div>
            <h2 class="text-xl text-gray-800">Contact</h2>
          </div>
          <div>

          </div>
        </div>
      </div>
      
      <div class="flex-1">
        <div class="card w-1/2 bg-green-500 mx-auto mt-10 hover:bg-green-300 hover:-translate-y-1 transition transform">
          <h1 class="text-center text-xl text-white font-bold">
            Pontep Thaweesup
          </h1>
        </div>
      </div>
    </div>

  </div>
</div>